---
import i18next, { changeLanguage } from "i18next";
import WorkLayout from "../../layouts/WorkLayout.astro";
import { Trans } from "astro-i18next/components";
import ClicableImage from "../../components/ClicableImage";
import { Image } from "astro:assets";
import letterA from "../../assets/36days/A.png";
import letterB from "../../assets/36days/B.png";
import letterC from "../../assets/36days/C.png";
import letterD from "../../assets/36days/D.png";
import letterE from "../../assets/36days/E.png";
import letterF from "../../assets/36days/F.png";
import letterG from "../../assets/36days/G.png";
import letterH from "../../assets/36days/H.png";
import letterI from "../../assets/36days/I.png";
import letterJ from "../../assets/36days/J.png";
import letterK from "../../assets/36days/K.png";
import letterL from "../../assets/36days/L.png";
import letterM from "../../assets/36days/M.png";
import letterN from "../../assets/36days/N.png";
import letterO from "../../assets/36days/O.png";
import letterP from "../../assets/36days/P.png";
import letterQ from "../../assets/36days/Q.png";
import letterR from "../../assets/36days/R.png";
import letterS from "../../assets/36days/S.png";
import letterT from "../../assets/36days/T.png";
import letterU from "../../assets/36days/U.png";

changeLanguage("en");

const content = {
    title: "Hello World",
    body: "This is a tit",
};
---

<WorkLayout {content}>
  <h1 slot="title" class="font-bold md:text-4xl">36 Days of Type</h1>
  <div slot="description">
    <p class="prose prose-neutral font-sans dark:prose-invert md:text-base">
      <Trans i18nKey={"36days.description"}>
        Este projeto pessoal surge do desafio 36 days of type, onde conjugo as
        minhas duas áreas de interesse, ilustração e tipografia. Este projeto
        tem sido bastante desafiante e gratificante e o seu desenvolvimento pode
        ser acompanhado em <a
          class="cursor-none no-underline hover:cursor-none hover:text-blue-500 hover:no-underline"
          href="https://www.instagram.com/ah_sofs">@ah_sofs</a
        > no instagram.
      </Trans>
    </p>
  </div>
  <div slot="images">
    <ClicableImage client:visible>
      <Image
      loading={"eager"}

        src={letterA}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter A"
      />

      <Image
        src={letterA}
        slot={"fullImage"}
        height={800}
        alt="Letter A"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterB}
      loading={"eager"}

        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter B"
      />

      <Image
        src={letterB}
        slot={"fullImage"}
        height={800}
        alt="Letter B"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterC}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter C"
      />

      <Image
        src={letterC}
        slot={"fullImage"}
        height={800}
        alt="Letter C"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterD}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter D"
      />

      <Image
        src={letterD}
        slot={"fullImage"}
        height={800}
        alt="Letter D"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterE}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter E"
      />

      <Image
        src={letterE}
        slot={"fullImage"}
        height={800}
        alt="Letter E"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterF}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter F"
      />

      <Image
        src={letterF}
        slot={"fullImage"}
        height={800}
        alt="Letter F"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterG}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter G"
      />

      <Image
        src={letterG}
        slot={"fullImage"}
        height={800}
        alt="Letter G"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterH}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter H"
      />

      <Image
        src={letterH}
        slot={"fullImage"}
        height={800}
        alt="Letter H"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterI}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter I"
      />

      <Image
        src={letterI}
        slot={"fullImage"}
        height={800}
        alt="Letter I"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterJ}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter J"
      />

      <Image
        src={letterJ}
        slot={"fullImage"}
        height={800}
        alt="Letter J"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterK}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter K"
      />

      <Image
        src={letterK}
        slot={"fullImage"}
        height={800}
        alt="Letter K"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterL}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter L"
      />

      <Image
        src={letterL}
        slot={"fullImage"}
        height={800}
        alt="Letter L"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterM}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter M"
      />

      <Image
        src={letterM}
        slot={"fullImage"}
        height={800}
        alt="Letter M"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterN}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter N"
      />

      <Image
        src={letterN}
        slot={"fullImage"}
        height={800}
        alt="Letter N"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterO}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter O"
      />

      <Image
        src={letterO}
        slot={"fullImage"}
        height={800}
        alt="Letter O"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterP}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter P"
      />

      <Image
        src={letterP}
        slot={"fullImage"}
        height={800}
        alt="Letter P"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterQ}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter Q"
      />

      <Image
        src={letterQ}
        slot={"fullImage"}
        height={800}
        alt="Letter Q"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterR}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter Q"
      />

      <Image
        src={letterR}
        slot={"fullImage"}
        height={800}
        alt="Letter Q"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterS}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter Q"
      />

      <Image
        src={letterS}
        slot={"fullImage"}
        height={800}
        alt="Letter Q"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterT}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter Q"
      />

      <Image
        src={letterT}
        slot={"fullImage"}
        height={800}
        alt="Letter Q"
        quality={"max"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={letterU}
        slot={"thumbnail"}
        quality="mid"
        width={732}
        height={732}
        alt="Letter Q"
      />

      <Image
        src={letterU}
        slot={"fullImage"}
        height={800}
        alt="Letter Q"
        quality={"max"}
      />
    </ClicableImage>
  </div>
</WorkLayout>
