---
import { changeLanguage, t } from "i18next";
import WorkLayout from "../../layouts/WorkLayout.astro";
import ClicableImage from "../../components/ClicableImage";
import passos1 from "../../assets/5passos/5passos1.png";
import passos2 from "../../assets/5passos/5passos2.jpg";
import passos3 from "../../assets/5passos/5passos3.png";
import { Image } from "astro:assets";

changeLanguage("en");

const content = {
    title: t("5steps.pageTitle"),
};
---

<WorkLayout {content}>
  <h1 slot="title" class="font-bold md:text-4xl">
    {t("5steps.title")}
  </h1>
  <div slot="description">
    <p class="prose prose-neutral mb-8 font-sans dark:prose-invert">
      {t("5steps.description1")}
    </p>

    <p class="prose prose-neutral font-sans dark:prose-invert">
      {t("5steps.description2")}
    </p>
  </div>
  <div slot="images" class="flex flex-col gap-5">
    <ClicableImage client:visible>
      <Image
        src={passos1}
        slot={"thumbnail"}
        loading={"eager"}
        alt="Representation of the user flow"
        quality="mid"
        height={725}
      />

      <Image
        src={passos1}
        slot={"fullImage"}
        alt="Representation of the user flow"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={passos2}
        loading={"eager"}
        slot={"thumbnail"}
        alt="Booky sitemap"
        quality="mid"
        width={732}
      />

      <Image
        src={passos2}
        slot={"fullImage"}
        alt="Booky sitemap"
        quality={"max"}
        width={800}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={passos3}
        slot={"thumbnail"}
        alt="In progress identity"
        quality="mid"
        width={732}
      />

      <Image
        src={passos3}
        slot={"fullImage"}
        alt="In progress identity"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>
  </div>
</WorkLayout>
