---
import { changeLanguage } from "i18next";
import WorkLayout from "../../layouts/WorkLayout.astro";
import ClicableImage from "../../components/ClicableImage";
import capaPNG from "../../assets/daHorta/Capa_daHorta.png";
import examePNG from "../../assets/daHorta/Exame.png";
import sitemapPNG from "../../assets/daHorta/Sitemap.png";
import screens01PNG from "../../assets/daHorta/screens01.png";
import conjuntoJPG from "../../assets/daHorta/conjunto.jpg";
import { Image } from "astro:assets";

changeLanguage("en");

const content = {
    title: "Hello World",
    body: "This is a test",
};
const baseImgUrl = "../src/assets/daHorta/";
---

<WorkLayout {content}>
  <h1 slot="title" class="font-bold md:text-4xl">DaHorta</h1>
  <div slot="description">
    <p class="prose prose-neutral mb-8 font-sans dark:prose-invert md:text-xl">
      A associação “Localsapproach” propôs a criação de um website para a venda
      de produtos alimentares locais, a um preço justo e reduzindo a pegada
      ecológica. O exercício incluía o naming, branding e realização do website.
    </p>

    <p class="prose prose-neutral font-sans dark:prose-invert md:text-xl">
      O daHorta é um website que para além de mercado de frutas e legumes
      online, ensina e incentiva os utilizadores a tomar práticas mais
      sustentáveis, tanto na produção como no consumo. Destina-se aos pequenos e
      médios produtores e fornece-lhes ferramentas que ajudam a determinar o
      preço justo dos produtos e de recompensação sempre que melhoram a sua
      prática em termos ambientais. Para os consumidores a plataforma permite
      adequar a ordenação dos produtos conforme as suas prioridades e sugere
      receitas com os produtos vendidos na loja.
    </p>
  </div>
  <div slot="images" class="flex flex-col gap-5">
    <ClicableImage client:visible>
      <Image
        src={capaPNG}
        slot={"thumbnail"}
        alt="My life timeline"
        quality={"mid"}
        height={700}
      />

      <Image
        src={capaPNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>
    <ClicableImage client:visible>
      <Image
        src={examePNG}
        slot={"thumbnail"}
        alt="My life timeline"
        height={900}
      />

      <Image
        src={examePNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image
        src={sitemapPNG}
        slot={"thumbnail"}
        alt="My life timeline"
        height={900}
      />

      <Image
        src={sitemapPNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={conjuntoJPG}
        slot={"thumbnail"}
        alt="My life timeline"
        quality={"mid"}
      />

      <Image
        src={conjuntoJPG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
      />
    </ClicableImage>
    <ClicableImage client:visible>
      <Image
        src={screens01PNG}
        slot={"thumbnail"}
        alt="My life timeline"
        height={700}
        quality={"mid"}
      />

      <Image
        src={screens01PNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={900}
        class={"justify-self-center"}
        loading={"lazy"}
      />
    </ClicableImage>
  </div>
</WorkLayout>
