---
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import MainLayout from "../../layouts/MainLayout.astro";
import daHortaCapa from "../../assets/CAPAS/Capa_daHorta.png";
import cicloExpressoPng from "../../assets/CAPAS/cicloexpressoCover.png";
import daysPng from "../../assets/CAPAS/Capa_36days.jpeg";
import steps5Png from "../../assets/CAPAS/5passosCapa-01.png";
// import caeiroPng from "../../assets/CAPAS/Capa_Caeiro.png";
import memoPng from "../../assets/CAPAS/MEMOcolour-01.png";
import fraunhoferPng from "../../assets/CAPAS/capaFraunhofer.png";
import sinaleticaPng from "../../assets/CAPAS/pictogramas.png";
import { Image } from "astro:assets";

changeLanguage("en");

const resource = {
    title: "Astro",
    description: "Astro is a new kind of static site generator. It's fast, modern, and built for the future.",
    image: "https://astro.build/assets/social.png",
    url: "https://astro.build",
    twitter: "@withastro",
};
const daHorta = {
    img: daHortaCapa,
    url: localizePath("/works/daHorta"),
};
const cicloexpressoCover = {
    img: cicloExpressoPng,
    url: localizePath("/works/cicloexpresso"),
};
const days = { img: daysPng, url: localizePath("/works/36days") };
const steps5 = { img: steps5Png, url: localizePath("/works/steps5") };
// const caeiro = { img: caeiroPng, url: localizePath("/works/caeiro") };
const memo = { img: memoPng, url: localizePath("/works/memo") };
const fraunhofer = {
    img: fraunhoferPng,
    url: localizePath("/works/fraunhofer"),
};
const sinaletica = {
    img: sinaleticaPng,
    url: localizePath("/works/sinaletica"),
};
const categories = [
    {
        key: "all",
        value: t("works.all"),
        elements: [
            days,
            daHorta,
            cicloexpressoCover,
            steps5,
            //   caeiro,
            memo,
            fraunhofer,
            sinaletica,
        ],
    },
    {
        key: "webdesign",
        value: t("works.webdesign"),
        elements: [daHorta],
    },
    {
        key: "illustration",
        value: t("works.illustration"),
        elements: [days, memo],
    },
    {
        key: "pictorgrams",
        value: t("works.pictograms"),
        elements: [daHorta, sinaletica],
    },
    { key: "branding", value: t("works.branding"), elements: [daHorta] },
    {
        key: "infography",
        value: t("works.infography"),
        elements: [steps5, cicloexpressoCover],
    },
];
---

<MainLayout content={resource}>
  <div class="flex flex-col items-center">
    <div class="flex w-fit dark:bg-black dark:text-gray-100" role="tablist">
      {
        categories.map((category, i) => (
          <div
            class=" px-9 py-3 data-[active=true]:font-bold data-[active=false]:hover:underline data-[active=false]:hover:underline-offset-8 "
            role="tab"
            tabindex={i}
            data-active={i === 0 ? "true" : "false"}
            aria-selected={i === 0 ? "true" : "false"}
          >
            {category.value}
          </div>
        ))
      }
    </div>

    {
      categories.map((category, i) => (
        <>
          <div
            class="flex flex-wrap gap-4 p-5 data-[active=false]:hidden"
            role="tabpanel"
            tabindex={i}
            data-active={i === 0 ? "true" : "false"}
            aria-hidden={i === 0 ? "false" : "true"}
          >
            {category.elements.map((element) => (
              <a
                class="cursor-none hover:cursor-none"
                href={element.url}
                target="_self"
              >
                <Image src={element.img} height={350} alt={"hi"} />
              </a>
            ))}
          </div>
        </>
      ))
    }

    <script>
      import "../../scripts/Tabs";
    </script>
  </div>
</MainLayout>
