---
import { changeLanguage, t } from "i18next";
import WorkLayout from "../../../layouts/WorkLayout.astro";
import ClicableImage from "../../../components/ClicableImage";
import Fraunhofer1 from "../../../assets/fraunhofer/Fraunhofer1.png";
import Fraunhofer2 from "../../../assets/fraunhofer/Fraunhofer2.png";
import Fraunhofer3 from "../../../assets/fraunhofer/Fraunhofer3.png";
import Fraunhofer4 from "../../../assets/fraunhofer/Fraunhofer4.png";
import Fraunhofer5 from "../../../assets/fraunhofer/Fraunhofer5.png";
import { Image } from "astro:assets";

changeLanguage("pt");

const content = {
    title: t("fraunhofer.title"),
};
---

<WorkLayout {content}>
  <h1 slot="title" class="font-bold md:text-4xl">{t("fraunhofer.title")}</h1>
  <div slot="description">
    <p class="prose prose-neutral mb-8 font-sans dark:prose-invert md:text-xl">
      {t("fraunhofer.description1")}
    </p>

    <p class="prose prose-neutral font-sans dark:prose-invert md:text-xl">
      {t("fraunhofer.description2")}
    </p>

    <p class="prose prose-neutral mt-4 font-sans dark:prose-invert md:text-xl">
      {t("fraunhofer.description3")}
    </p>
  </div>
  <div slot="images" class="flex flex-col gap-5">
    <ClicableImage client:visible>
      <Image
        src={Fraunhofer1}
        slot={"thumbnail"}
        alt="Representation of the user flow"
        width={732}
      />

      <Image
        src={Fraunhofer1}
        slot={"fullImage"}
        alt="Representation of the user flow"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={Fraunhofer2}
        slot={"thumbnail"}
        alt="Representation of the user flow"
        width={732}
      />

      <Image
        src={Fraunhofer2}
        slot={"fullImage"}
        alt="Representation of the user flow"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={Fraunhofer3}
        slot={"thumbnail"}
        alt="Representation of the user flow"
        width={732}
      />

      <Image
        src={Fraunhofer3}
        slot={"fullImage"}
        alt="Representation of the user flow"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={Fraunhofer4}
        slot={"thumbnail"}
        alt="Representation of the user flow"
        width={732}
      />

      <Image
        src={Fraunhofer4}
        slot={"fullImage"}
        alt="Representation of the user flow"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={Fraunhofer5}
        slot={"thumbnail"}
        alt="Representation of the user flow"
        width={732}
      />

      <Image
        src={Fraunhofer5}
        slot={"fullImage"}
        alt="Representation of the user flow"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>
  </div>
</WorkLayout>
