---
import { changeLanguage } from "i18next";
import { Progress } from "../components/ui/Progress";
import { ScrollArea } from "../components/ui/ScrollArea";
import MainLayout from "../layouts/MainLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
import timelinePng from "../../public/timeline.png";

changeLanguage("en");

const content = {
    title: "Hello World",
    description: "This is a test page",
    url: "https://example.com",
    image: "https://example.com/image.jpg",
    date: "2021-01-01",
};
const skills = [
    {
        name: "Adobe Illustrator",
        value: 90,
    },
    {
        name: "Adobe InDesign",
        value: 80,
    },
    {
        name: "Figma",
        value: 80,
    },
    {
        name: "Sketch",
        value: 15,
    },
    {
        name: "MailChimp",
        value: 15,
    },
    {
        name: "Adobe Photoshop",
        value: 75,
    },
    {
        name: "Adobe Premiere",
        value: 50,
    },
    {
        name: "Fusion 360",
        value: 50,
    },
    {
        name: "CSS e HTML",
        value: 50,
    },
    {
        name: "Blender",
        value: 15,
    },
];
---

<MainLayout content={content}>
  <div class="grid h-fit grid-cols-1 gap-2 md:grid-cols-2">
    <section>
      <h1 class="mb-5 text-4xl">Description</h1>

      <h1 class="mb-5 text-4xl">Skills</h1>
      <div
        class="grid w-5/6 grid-cols-1 md:grid-cols-2 md:grid-rows-5 md:gap-5"
      >
        {
          skills.map((skill) => (
            <div>
              <label for={`${skill.name}`}>{skill.name}</label>
              <Progress
                client:visible
                value={skill.value}
                id={`${skill.name}`}
              />
            </div>
          ))
        }
      </div>
    </section>
    <Image
      src={timelinePng}
      alt="My life timeline"
      width={550}
      height={700}
      class={"place-self-center"}
    />
  </div>
</MainLayout>
