---
import { changeLanguage } from "i18next";
import WorkLayout from "../../../layouts/WorkLayout.astro";
import ClicableImage from "../../../components/ClicableImage";
import { Image } from "astro:assets";
import letterA from "../../../assets/36days/A.png";
import letterB from "../../../assets/36days/B.png";
import letterC from "../../../assets/36days/C.png";
import letterD from "../../../assets/36days/D.png";
import letterE from "../../../assets/36days/E.png";
import letterF from "../../../assets/36days/F.png";
import letterG from "../../../assets/36days/G.png";
import letterH from "../../../assets/36days/H.png";
import letterI from "../../../assets/36days/I.png";
import letterJ from "../../../assets/36days/J.png";
import letterK from "../../../assets/36days/K.png";
import letterL from "../../../assets/36days/L.png";
import letterM from "../../../assets/36days/M.png";
import letterN from "../../../assets/36days/N.png";
import letterO from "../../../assets/36days/O.png";
import letterP from "../../../assets/36days/P.png";
import letterQ from "../../../assets/36days/Q.png";
import letterR from "../../../assets/36days/R.png";
import letterS from "../../../assets/36days/S.png";

changeLanguage("pt");

const content = {
    title: "Hello World",
    body: "This is a test",
};
---

<WorkLayout {content}>
  <div slot="description">
    <h1 class="mb-8 font-bold md:text-4xl">36 Days of Type</h1>
    <p class="prose prose-neutral font-sans dark:prose-invert md:text-xl">
      Este projeto pessoal surge do desafio 36 days of type, onde conjugo as
      minhas duas áreas de interesse, ilustração e tipografia. Este projeto tem
      sido bastante desafiante e gratificante e o seu desenvolvimento pode ser
      acompanhado em <a
        class="cursor-none no-underline hover:cursor-none hover:text-blue-500 hover:no-underline"
        href="https://www.instagram.com/ah_sofs">@ah_sofs</a
      > no instagram
    </p>
  </div>
  <div slot="images">
    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterA} slot={"thumbnail"} alt="Letter A" />
      {/* @ts-ignore */}

      <Image src={letterA} slot={"fullImage"} alt="Letter A" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterB} slot={"thumbnail"} alt="Letter B" />

      {/* @ts-ignore */}
      <Image src={letterB} slot={"fullImage"} alt="Letter B" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterC} slot={"thumbnail"} alt="Letter C" />
      {/* @ts-ignore */}

      <Image src={letterC} slot={"fullImage"} alt="Letter C" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterD} slot={"thumbnail"} alt="Letter D" />
      {/* @ts-ignore */}

      <Image src={letterD} slot={"fullImage"} alt="Letter D" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterE} slot={"thumbnail"} alt="Letter E" />
      {/* @ts-ignore */}

      <Image src={letterE} slot={"fullImage"} alt="Letter E" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterF} slot={"thumbnail"} alt="Letter F" />
      {/* @ts-ignore */}

      <Image src={letterF} slot={"fullImage"} alt="Letter F" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterG} slot={"thumbnail"} alt="Letter G" />
      {/* @ts-ignore */}

      <Image src={letterG} slot={"fullImage"} alt="Letter G" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterH} slot={"thumbnail"} alt="Letter H" />
      {/* @ts-ignore */}

      <Image src={letterH} slot={"fullImage"} alt="Letter H" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterI} slot={"thumbnail"} alt="Letter I" />
      {/* @ts-ignore */}

      <Image src={letterI} slot={"fullImage"} alt="Letter I" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterJ} slot={"thumbnail"} alt="Letter J" />
      {/* @ts-ignore */}

      <Image src={letterJ} slot={"fullImage"} alt="Letter J" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterK} slot={"thumbnail"} alt="Letter K" />
      {/* @ts-ignore */}

      <Image src={letterK} slot={"fullImage"} alt="Letter K" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterL} slot={"thumbnail"} alt="Letter L" />
      {/* @ts-ignore */}

      <Image src={letterL} slot={"fullImage"} alt="Letter L" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterM} slot={"thumbnail"} alt="Letter M" />
      {/* @ts-ignore */}

      <Image src={letterM} slot={"fullImage"} alt="Letter M" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterN} slot={"thumbnail"} alt="Letter N" />
      {/* @ts-ignore */}

      <Image src={letterN} slot={"fullImage"} alt="Letter N" quality={"max"} />
    </ClicableImage>

    <ClicableImage client:visible>
      {/* @ts-ignore */}

      <Image src={letterO} slot={"thumbnail"} alt="Letter O" />
      {/* @ts-ignore */}

      <Image src={letterO} slot={"fullImage"} alt="Letter O" quality={"max"} />
    </ClicableImage>
  </div>
</WorkLayout>
