---
import { changeLanguage, t } from "i18next";
import WorkLayout from "../../../layouts/WorkLayout.astro";
import ClicableImage from "../../../components/ClicableImage";
import capaPNG from "../../../assets/daHorta/Capa_daHorta.png";
import examePNG from "../../../assets/daHorta/Exame.png";
import sitemapPNG from "../../../assets/daHorta/Sitemap.png";
import screens01PNG from "../../../assets/daHorta/screens01.png";
import screens02PNG from "../../../assets/daHorta/screens02.png";
import conjuntoJPG from "../../../assets/daHorta/conjunto.jpg";
import bideo from "../../../assets/daHorta/bideo.mp4";
import mockup from "../../../assets/daHorta/mockup.mp4";
import { Image } from "astro:assets";

changeLanguage("pt");

const content = {
    title: t("daHorta.title"),
};
---

<WorkLayout {content}>
  <h1 slot="title" class="font-bold md:text-4xl">{t("daHorta.title")}</h1>
  <div slot="description">
    <p class="prose prose-neutral mb-8 font-sans dark:prose-invert md:text-xl">
      {t("daHorta.description1")}
    </p>

    <p class="prose prose-neutral mb-8 font-sans dark:prose-invert md:text-xl">
      {t("daHorta.description2")}
    </p>

    <p class="font-sans">
      {t("projectMadeWith")}
      <ul>
        <li>
          <a
            href="https://www.behance.net/mariafigueira"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor-none underline hover:cursor-none hover:text-blue-500 hover:underline"
          >
            Maria Figueira</a
          >
        </li>
        <li>
          <a
            href="https://www.behance.net/mariaspcc"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor-none underline hover:cursor-none hover:text-blue-500 hover:underline"
          >
            Maria Soares</a
          >
        </li>
        <li>
          <a> Mariana Gonzales</a>
        </li>
      </ul>
    </p>
  </div>
  <div slot="images" class="flex flex-col gap-5">
    <ClicableImage client:visible>
      <Image
        src={capaPNG}
        slot={"thumbnail"}
        alt="My life timeline"
        quality={"mid"}
        width={732}
        height={732}
      />

      <Image
        src={capaPNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>
    <ClicableImage client:visible>
      <Image
        src={examePNG}
        slot={"thumbnail"}
        alt="My life timeline"
        width={732}
      />

      <Image
        src={examePNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={sitemapPNG}
        slot={"thumbnail"}
        alt="My life timeline"
        width={732}
      />

      <Image
        src={sitemapPNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={screens01PNG}
        slot={"thumbnail"}
        alt="My life timeline"
        width={732}
        quality={"mid"}
      />

      <Image
        src={screens01PNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={900}
        class={"justify-self-center"}
        loading={"lazy"}
      />
    </ClicableImage>

    <div class="my-5 flex h-fit max-h-80 gap-1">
      <ClicableImage client:visible>
        <video slot={"thumbnail"} src={bideo} height={345} autoplay loop muted
        ></video>

        <video slot={"fullImage"} src={bideo} height={1000} controls muted
        ></video>
      </ClicableImage>

      <ClicableImage client:visible>
        <video slot={"thumbnail"} src={mockup} height={330} autoplay loop muted
        ></video>

        <video slot={"fullImage"} src={mockup} height={1000} controls muted
        ></video>
      </ClicableImage>
    </div>

    <ClicableImage client:visible>
      <Image
        src={screens02PNG}
        slot={"thumbnail"}
        alt="My life timeline"
        width={732}
        quality={"mid"}
      />

      <Image
        src={screens02PNG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={900}
        class={"justify-self-center"}
        loading={"lazy"}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={conjuntoJPG}
        slot={"thumbnail"}
        alt="My life timeline"
        quality={"mid"}
        width={732}
      />

      <Image
        src={conjuntoJPG}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
      />
    </ClicableImage>
  </div>
</WorkLayout>
