---
import { changeLanguage, t } from "i18next";
import WorkLayout from "../../../layouts/WorkLayout.astro";
import ClicableImage from "../../../components/ClicableImage";
import video from "../../../assets/Sinaletica/video.mp4";
import pictogramas from "../../../assets/Sinaletica/pictogramas.png";
import sinais1 from "../../../assets/Sinaletica/sinais1.png";
import sinais2 from "../../../assets/Sinaletica/sinais2.png";
import { Image } from "astro:assets";

changeLanguage("pt");

const content = {
    title: t("sinaletica.title"),
};
---

<WorkLayout {content}>
  <h1 slot="title" class="font-bold md:text-4xl">{t("sinaletica.title")}</h1>
  <div slot="description">
    <p class="prose prose-neutral mb-8 font-sans dark:prose-invert">
      {t("sinaletica.description1")}
    </p>

    <p class="prose prose-neutral font-sans dark:prose-invert">
      {t("sinaletica.description2")}
    </p>
  </div>
  <div slot="images" class="flex flex-col gap-5">
    <ClicableImage client:load>
      <video slot={"thumbnail"} src={video} height={700} autoplay loop muted
      ></video>

      <video slot={"fullImage"} src={video} height={1000} controls muted
      ></video>
    </ClicableImage>
    <ClicableImage client:visible>
      <Image
        src={pictogramas}
        quality="mid"
        slot={"thumbnail"}
        alt="My life timeline"
        quality={"mid"}
        width={732}
      />

      <Image
        src={pictogramas}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>
    <ClicableImage client:visible>
      <Image
        src={sinais2}
        quality="mid"
        slot={"thumbnail"}
        alt="My life timeline"
        width={732}
      />

      <Image
        src={sinais2}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>

    <ClicableImage client:visible>
      <Image
        src={sinais1}
        quality="mid"
        slot={"thumbnail"}
        class={"object-contain"}
        alt="My life timeline"
        width={732}
      />

      <Image
        src={sinais1}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={1000}
      />
    </ClicableImage>
  </div>
</WorkLayout>
